<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr align="left">
      <th> Photo </th>
      <th> Name </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="width:100px; height:auto"><%= image_tag(user.profile_image, style:"width:50%") if user.profile_image.attached? %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show profile', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

