<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-left">
      <h1>Users</h1>

      <table>
        <thead>
          <tr align="left">
            <th> Photo </th>
            <th> Name </th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag(user.profile_image, size: "200x100", class: "img-fluid") if user.profile_image.attached? %></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show profile', user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    </div>  
    <div class="col-sm-2"></div>
