<p class="notice"> <%= notice %></p>
<div class="welcome_page">
	<div class="row">
		<div class="col-sm-3">
			<h1>Welcome to PetBook</h1>
			<p>Here you can post about your nonhuman family members and share with our communitiy. </p>
			<%= image_tag("petbook_cover.jpeg", :alt => "petbook_cover feed") %>
		</div>
			
	</div>
	
	
</div>
